/*
* @Author: Administrator
* @Date:   2016-08-31 16:51:18
* @Last Modified by:   Administrator
* @Last Modified time: 2016-09-01 09:47:18
*/
.box{
	width: 100%;
}
input{
	outline: none;
}

/* -----------------------左侧标题-------------------- */
.con-l{
	width: 240px;
	height: 203px;
	float: left;
	background:#fff;
	margin-top: 20px;
	border-radius: 4px;
}
.con-l ul li{
	width: 240px;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
}
.con-l ul .on{
	background: #ed761e;
	border-radius: 4px 4px 0 0 ;
}
.con-l ul .on span{
	color: #fff;
}
.con-l ul li a span{
	font-size: 18px;
	color: #ed761e;
	line-height: 50px;
	margin-left: 20px;
}
/* -----------------------右侧内容-------------------- */
.con-r{
	width: 940px;
	/* height:1600px; */
	background: #fff;
	border-radius: 4px;
	float: right;
	margin-top: 20px;
}
.con-r h1{
	width: 930px;
	height: 50px;
	background: #EAEAEA;
	font-size: 16px;
	padding-left: 10px;
	border-radius: 4px 4px 0 0;
	line-height: 50px;
	color:#ed761e; 
	font-weight: 400;
}
.step{
	width: 900px;
	margin: 0 auto;
}
.step img{
	display: block;
	margin: 30px auto;
}
.step p{
	font-size: 16px;
	color: #333;
	text-align: center;
	margin-top: 20px;
}
/* ---------------------------tab内容------------------------------- */
.gethtml-con{
	width: 900px;
	/* height: 960px; */
	margin: 20px auto;
	position: relative;
	z-index: 3;
}
.gethtml-con-title li {
	width: 130px;
	height: 50px;
	float: left;
}
.gethtml-con-title li a span{
	font-size: 16px;
	color: #333;
	line-height: 50px;
	text-align: center;
	display: block;
	
}
.on-1{
	border: 1px solid #ccc;
	border-bottom: 0;
	background: #fff;
}
.on-1 a span{
	border-top:2px solid #ed761e;
}
.text-i-con{
	width: 898px;
	/* height: 900px; */
	border: 1px solid #ccc;
	margin-top: -1px;
}

.link-one{
	width: 420px;
/* 	height: 400px; */
	float: left;
	padding: 10px;
}
.link-title{
	width: 420px;
	height: 30px;
	border-bottom: 1px solid #e5e5e5;
	margin-top: 20px;
}
.link-title h3{
	font-size: 16px;
	color: #ed761e;
	line-height: 30px;
	font-weight: 400;
	display: block;
	float: left;
}

/* ---------------------------tab link3内容------------------------------ */
.get-three{
	width: 880px;
	/* height: 400px; */
	float: left;
	margin: 20px 10px 0 10px;
}
.title-3{
	width: 880px;
}
.web{
	font-size: 14px;
	color: #333;
	margin-top: 20px;
	padding-left: 10px;
}
textarea{
	width: 50%;
	display: block;
	margin: 20px auto;
	padding:10px 20px;
	outline: none;
	border-left: 4px solid #ed761e;
}
.share{
	width: 430px;
	height: 50px;
	margin: 20px auto;
}
.share ul li{
	float: left;
	margin-right: 20px;
}

strong{
	font-size: 16px;
	font-weight: 700;
	color: #333;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}
strong span{
	font-weight: 400;
}