/*
* @Author: Administrator
* @Date:   2016-08-31 18:22:18
* @Last Modified by:   Administrator
* @Last Modified time: 2016-08-31 18:30:40
*/
.box{
	width: 100%;
}
input{
	outline: none;
}
/* -----------------------------左侧标题------------------------------ */
.coun-l{
	width: 240px;
	height: 254px;
	background: #fff;
	float: left;
	margin-top: 20px;
	border-radius: 4px;
}
.coun-l ul li{
	width: 240px;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
}
.acc-title h1{
	font-size: 18px;
	color: #fff;
	background: #ed761e;
	width: 230px;
	height: 50px;
	border-radius: 4px 4px 0 0;
	padding-left: 10px;
	line-height: 50px;
}
.coun-l ul li a{
	font-size: 14px;
	color: #333;
	padding-left: 14px;
	line-height: 50px;
}
.on{
	border-left: 3px solid #ed761e;
	box-sizing: border-box;
}
.coun-l ul .on a{
	margin-left: -3px;
	color:#ed761e; 
}
/* -----------------------------右侧内容------------------------------ */
.coun-r{
	width: 940px;
	height:600px;
	background: #fff;
	float: right;
	margin-top: 20px;
	border-radius: 4px;
}
.coun-r h1{
	width: 930px;
	height: 50px;
	background: #EAEAEA;
	font-size: 16px;
	padding-left: 10px;
	border-radius: 4px 4px 0 0;
	line-height: 50px;
	color:#ed761e; 
	font-weight: 400;
}
.coun-r p{
	font-size: 16px;
	color: #333;
	text-align: center;
	margin-top: 30px;
	width: 900px;
	line-height: 32px;

}
.coun-r p a{
	font-size: 16px;
	color: #27abe8;
}
